:root {
  --dk-col: #212529;
  --lt-col: whitesmoke;
  background-color: var(--dk-col);
  color: var(--lt-col);
}

html,
body {
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}

.nav {
  background-color: var(--dk-col);
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
}

.nav a {
  color: var(--lt-col);
  padding: 10px;
  text-decoration: none;
  font-size: large;
}

#main {
  grid-template-rows: 100vh auto auto;
  width: 100vw;
  display: grid;
  justify-content: center;
}

#about,
#signup {
  padding-top: 50px;
  padding-bottom: 100px;
}

.bgimg {
  min-height: 100%;
  min-width: 100vw;
  background-image: linear-gradient(
      45deg,
      rgba(33, 37, 41, 0.5),
      rgba(33, 37, 41, 1)
    ),
    url("img/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

#button {
  color: var(--lt-col);
  background-color: var(--dk-col);
  border-color: var(--dk-col);
}

#button:hover {
  color: var(--dk-col);
  background-color: var(--lt-col);
  border-color: var(--dk-col);
}

#altButton {
  color: var(--dk-col);
  background-color: var(--lt-col);
  border-color: var(--lt-col);
}

#altButton:hover {
  color: var(--lt-col);
  background-color: var(--dk-col);
  border-color: var(--lt-col);
}

.pricingCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: var(--lt-col);
  padding: 25px;
}

.level {
  background-color: var(--dk-col);
}

#signupForm {
  margin: auto;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

@media (min-width: 750px) {
  .level {
    width: 30%;
    max-width: 500px;
  }
}
